{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 120,
	"endOfLine": "auto",
	"singleQuote": true,
	"proseWrap": "never",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"trailingComma": "none",
	"vueIndentScriptAndStyle": true,
	"overrides": [
		{
			"files": "*.ts",
			"options": { "parser": "typescript", "printWidth": 180, "singleQuote": true }
		},
		{
			"files": "*.vue",
			"options": { "parser": "vue", "printWidth": 240, "singleQuote": false }
		},
		{
			"files": "*.html",
			"options": { "parser": "html", "printWidth": 240, "singleQuote": false }
		}
	]
}